<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "container max-w-1280" }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <h2>Sign up</h2>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :phone_number %><br />
    <%= f.phone_field :phone_number, class: "form-control", autocomplete: true %>
  </div>

  <div class="field">
    <%= f.label :gender, class: "form-label" %>
    <%= f.select :gender, [['Male', :male], ['Female', :female]], {}, { class: "form-select w-100" } %>
  </div>


  <%= hidden_field :role, :regular %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control w-100" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> min)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: "form-control poppins-regular mt-3" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
