<%= form_with(model: post, html: { class: "container gap-4" }) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field w-100">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="field w-100">
    <%= form.label :article  %>
    <%= form.text_area :article, class: "form-control" %>
  </div>

  <%= form.hidden_field :status, value: "visible" %>

  <div class="field w-100">
    <%= form.submit class: "btn btn-primary px-2 py-1" %>
  </div>
<% end %>
